.overlay {
  --smth: 0.5rem;
  position: absolute;
  bottom: var(--smth);
  right: var(--smth);

  /*  */
  width: 200px;
  height: 300px;
  outline: 1px solid red;
  border-radius: var(--smth);
  padding: var(--smth);
  backdrop-filter: blur(16px);
}
