.pin {
  --pin-size: 78px;
  position: absolute;
  width: var(--pin-size);
  height: var(--pin-size);
  /* background-color: red; */

  & .pin-icon {
    --icon-size: 24px;
    height: var(--icon-size);
    width: var(--icon-size);
  }
}
